.heart {
  color: crimson;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

h1 {
  font-size: 20px;
}

span {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

a {
  color: rgb(255, 38, 0);
}

a:hover {
  color: coral;
}

img {
  border-radius: 6px;
}
@media screen and (min-width: 768px) {
  .heart {
    color: crimson;
  }

  main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }

  span {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 40px;
  }

  .source-icon {
    display: flex;
    justify-content: space-between;
  }

  .recipePost {
    margin-top: 40px;
    margin-bottom: 10px;
  }

  .container {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 40px;
  }

  section {
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
  }

  .more-info {
    width: 600px;
    height: fit-content;
    background-color: rgba(255, 160, 122, 0.9);
    position: absolute;
    z-index: 1;
    border-radius: 15px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
  }
  .textContainer {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .ingredients {
    position: relative;
    left: 20px;
  }

  .labels li {
    display: inline;
    list-style-type: none;
  }

  .noBackground {
    background-image: none;
  }
}

@media screen and (min: 815px) {
  section {
    width: 48%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 15px;
    padding: 10px;
  }

  .container {
    margin-top: 10px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  h1 {
    text-align: center;
    font-size: 20px;
  }

  span {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 40px;
  }

  .heart {
    color: crimson;
  }
}
