<main>
  <span>
    <input
      type="text"
      id="filter"
      placeholder="Filter by ingredient"
      [(ngModel)]="filterText"
    />
    <a routerLink="/favorites">My Favorites</a>
  </span>

  <div class="container">
    <section *ngFor="let recipe of recipes; index as i">
      <h1>{{ recipe.recipe.label }}</h1>
      <img [src]="recipe.recipe.image" (click)="setIndex(i)" />
      <a [href]="recipe.recipe.url">
        <p>{{ recipe.recipe.source }}</p>
      </a>
      <i
        (click)="addFavorite(recipe)"
        class="far fa-heart"
        [ngClass]="{ heart: recipe.favorite }"
      ></i>
      <div class="more-info" *ngIf="index === i">
        <i (click)="hideRecipe(i)" class="fas fa-times"></i>

        <ul class="labels" *ngFor="let label of recipe.recipe.healthLabels">
          <li>{{ label }}</li>
        </ul>
        <p>Total Time: {{ recipe.recipe.totalTime }}</p>
        <p>Servings: {{ recipe.recipe.yield }}</p>

        <p>
          Calories per serving:
          {{ recipe.recipe.calories / recipe.recipe.yield }}
        </p>
        <p>Ingredients:</p>
        <ul
          class="ingredients"
          *ngFor="let ingredient of recipe.recipe.ingredientLines"
        >
          <li>
            {{ ingredient }}
          </li>
        </ul>
      </div>
    </section>
  </div>
</main>
