* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Archivo Narrow", sans-serif;
}

a {
  text-decoration: none;
}
/* body {
  background-image: url("../img/backgroundContrast.jpg");
  background-size: cover;
  background-repeat: no-repeat;
} */
